.filterchip-button-base {
    border-radius: 16px !important;
}

.filtersContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.filterIcon {
    display: none;
}

@media screen and (max-width: 670px) {
    .filtersContainer {
        display: none;
    }

    .filterIcon {
        display: block;
    }
}

.filter-select .filterchip-arrow-icon {
    font-size: 20px;
    cursor: pointer;
    color: #707070;
    margin-right: 4px
}

.filter-select .filterchip-arrow-start-icon {
    font-size: 20px;
    cursor: pointer;
    /* color: #707070; */
}

.MuiList-root .filterchip-menu-item {
    font-size: 14px;
}

.filterchip-menu-item .filterchip-menu-checkbox {
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.filter-select .filterchip-arrow-cancel-button {
    font-size: 20px;
    cursor: pointer;
    color: #707070;
    margin-right: 4px;
}

.filter-select {
    border-radius: 16px !important;
    font-size: 12px !important;
    background: var(--secondary-100, #f5f5f5);
    color: var(--secondary-800) !important;
}

.filter-select .MuiOutlinedInput-notchedOutline {
    border: none;
}

.filter-select .MuiSelect-select {
    padding: 4px 15px 4px 8px !important;
}